# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\iNDIA\Desktop\Career Foundry\4 Python Fundamentals for Data Analysts\Instacart Basket Analysis Mar 22\02 Data\Prepared Data\orders_products_merged.pkl'

In [3]:
# Import df_order_products_merged
ords_prods_merge = pd.read_pickle(os.path.join(path))

In [4]:
ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32406036 entries, 0 to 32406040
Data columns (total 20 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   order_day_of_week       int64
 4   order_time              int64
 5   days_since_prior_order  float64
 6   first_time_customer     bool
 7   product_id              int64
 8   add_to_cart_order       int64
 9   reordered               int64
 10  product_name            object
 11  aisle_id                int64
 12  department_id           int64
 13  prices                  float64
 14  max_order               int64
 15  loyalty_flag            object
 16  mean_price              float64
 17  spending_flag           object
 18  frequency               float64
 19  Customer Type           object
dtypes: bool(1), float64(4), int64(11), object(4)
memory usage: 4.9+ GB

In [5]:
# creating subset
df = ords_prods_merge[:1000000]

In [6]:
df.head()

,order_id,user_id,order_number,order_day_of_week,order_time,days_since_prior_order,first_time_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,max_order,loyalty_flag,mean_price,spending_flag,frequency,Customer Type
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [7]:
df.shape

(1000000, 20)

In [9]:
df.shape

(1000000, 20)

## Grouping Data with pandas

In [10]:
df.groupby('product_name')

### Aggregating data with agg()

In [11]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [12]:
# alternate command
df.groupby('department_id')['order_number'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

In [13]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

### Aggregating Data with transform()

In [14]:
# Create a Loyalty flag using loc

In [15]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [16]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,order_day_of_week,order_time,days_since_prior_order,first_time_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,max_order,loyalty_flag,mean_price,spending_flag,frequency,Customer Type
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
5,3367565,1,6,2,7,19.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
6,550135,1,7,1,9,20.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
7,3108588,1,8,1,14,14.0,False,196,2,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
8,2295261,1,9,1,16,0.0,False,196,4,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
9,2550362,1,10,4,8,30.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
10,2968173,15,15,1,9,7.0,False,196,2,0,Soda,77,7,9.0,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
11,1870022,15,17,2,16,8.0,False,196,6,1,Soda,77,7,9.0,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
12,1911383,15,18,2,11,7.0,False,196,1,1,Soda,77,7,9.0,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
13,2715276,15,21,1,9,7.0,False,196,1,1,Soda,77,7,9.0,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
14,487368,15,22,1,10,14.0,False,196,1,1,Soda,77,7,9.0,22,Regular customer,3.980556,Low spender,10.0,Frequent customer

In [17]:
ords_prods_merge.head(100)

,order_id,user_id,order_number,order_day_of_week,order_time,days_since_prior_order,first_time_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,max_order,loyalty_flag,mean_price,spending_flag,frequency,Customer Type
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3226575,360,1,5,12,NaN,True,196,1,0,Soda,77,7,9.0,3,New customer,10.006250,High spender,4.0,Frequent customer
96,1469869,377,3,5,17,3.0,False,196,9,0,Soda,77,7,9.0,3,New customer,8.496552,Low spender,16.5,Regular customer
97,1927023,387,2,4,10,22.0,False,196,3,0,Soda,77,7,9.0,8,New customer,7.396610,Low spender,8.0,Frequent customer
98,858092,420,4,1,19,30.0,False,196,2,0,Soda,77,7,9.0,22,Regular customer,7.387805,Low spender,7.0,Frequent customer
99,119314,420,5,3,19,16.0,False,196,2,1,Soda,77,7,9.0,22,Regular customer,7.387805,Low spender,7.0,Frequent customer

In [18]:
pd.options.display.max_rows = None

In [19]:
ords_prods_merge.head(100)

,order_id,user_id,order_number,order_day_of_week,order_time,days_since_prior_order,first_time_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,max_order,loyalty_flag,mean_price,spending_flag,frequency,Customer Type
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
5,3367565,1,6,2,7,19.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
6,550135,1,7,1,9,20.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
7,3108588,1,8,1,14,14.0,False,196,2,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
8,2295261,1,9,1,16,0.0,False,196,4,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
9,2550362,1,10,4,8,30.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
10,2968173,15,15,1,9,7.0,False,196,2,0,Soda,77,7,9.0,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
11,1870022,15,17,2,16,8.0,False,196,6,1,Soda,77,7,9.0,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
12,1911383,15,18,2,11,7.0,False,196,1,1,Soda,77,7,9.0,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
13,2715276,15,21,1,9,7.0,False,196,1,1,Soda,77,7,9.0,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
14,487368,15,22,1,10,14.0,False,196,1,1,Soda,77,7,9.0,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
15,2293453,19,2,5,14,6.0,False,196,3,0,Soda,77,7,9.0,9,New customer,8.372059,Low spender,6.0,Frequent customer
16,1973799,19,5,6,12,8.0,False,196,15,1,Soda,77,7,9.0,9,New customer,8.372059,Low spender,6.0,Frequent customer
17,532817,19,7,4,17,6.0,False,196,1,1,Soda,77,7,9.0,9,New customer,8.372059,Low spender,6.0,Frequent customer
18,1573906,21,10,3,10,6.0,False,196,2,0,Soda,77,7,9.0,33,Regular customer,7.012683,Low spender,7.5,Frequent customer
19,1593000,31,10,3,8,7.0,False,196,17,0,Soda,77,7,9.0,20,Regular customer,8.137793,Low spender,6.0,Frequent customer
20,2231262,31,17,3,11,8.0,False,196,14,1,Soda,77,7,9.0,20,Regular customer,8.137793,Low spender,6.0,Frequent customer
21,2580647,43,6,4,16,4.0,False,196,9,0,Soda,77,7,9.0,11,Regular customer,7.444898,Low spender,10.0,Frequent customer
22,2187180,43,9,4,12,3.0,False,196,1,1,Soda,77,7,9.0,11,Regular customer,7.444898,Low spender,10.0,Frequent customer
23,2497897,52,1,1,9,NaN,True,196,4,0,Soda,77,7,9.0,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
24,1318871,52,2,1,10,7.0,False,196,5,1,Soda,77,7,9.0,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
25,1261384,52,3,1,10,7.0,False,196,3,1,Soda,77,7,9.0,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
26,580568,52,5,2,10,8.0,False,196,6,1,Soda,77,7,9.0,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
27,2428073,52,7,2,7,8.0,False,196,5,1,Soda,77,7,9.0,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
28,342306,52,9,1,11,7.0,False,196,5,1,Soda,77,7,9.0,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
29,1520353,52,10,2,10,8.0,False,196,4,1,Soda,77,7,9.0,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
30,2542086,52,11,2,9,7.0,False,196,3,1,Soda,77,7,9.0,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
31,944694,52,12,1,16,6.0,False,196,7,1,Soda,77,7,9.0,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
32,1268191,52,15,2,11,8.0,False,196,3,1,Soda,77,7,9.0,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
33,1122089,52,17,2,10,6.0,False,196,4,1,Soda,77,7,9.0,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
34,1498922,52,18,2,10,14.0,False,196,6,1,Soda,77,7,9.0,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
35,180919,52,19,3,8,8.0,False,196,4,1,Soda,77,7,9.0,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
36,2695875,52,21,5,10,30.0,False,196,1,1,Soda,77,7,9.0,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
37,3205960,67,1,3,11,NaN,True,196,1,0,Soda,77,7,9.0,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
38,970922,67,2,1,15,5.0,False,196,2,1,Soda,77,7,9.0,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
39,596585,67,3,1,13,7.0,False,196,2,1,Soda,77,7,9.0,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
40,2037087,67,4,2,9,8.0,False,196,1,1,Soda,77,7,9.0,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
41,2474111,67,5,3,14,8.0,False,196,2,1,Soda,77,7,9.0,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
42,1568481,67,6,3,12,7.0,False,196,2,1,Soda,77,7,9.0,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
43,2048527,67,8,2,11,7.0,False,196,1,1,Soda,77,7,9.0,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
44,2389031,67,9,2,14,7.0,False,196,1,1,Soda,77,7,9.0,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
45,2378562,67,10,1,10,6.0,False,196,1,1,Soda,77,7,9.0,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
46,1515698,67,11,1,11,7.0,False,196,1,1,Soda,77,7,9.0,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
47,1928050,67,12,2,12,8.0,False,196,1,1,Soda,77,7,9.0,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
48,1949274,67,13,1,10,6.0,False,196,1,1,Soda,77,7,9.0,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
49,551869,67,14,1,9,7.0,False,196,1,1,Soda,77,7,9.0,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
50,768572,67,16,4,10,9.0,False,196,1,1,Soda,77,7,9.0,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
51,150528,67,18,5,16,4.0,False,196,1,1,Soda,77,7,9.0,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
52,29758,67,19,0,14,9.0,False,196,2,1,Soda,77,7,9.0,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
53,1558976,67,21,1,9,5.0,False,196,2,1,Soda,77,7,9.0,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
54,863974,67,22,1,11,14.0,False,196,3,1,Soda,77,7,9.0,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
55,2308399,67,23,1,14,14.0,False,196,1,1,Soda,77,7,9.0,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
56,2759128,81,3,1,9,14.0,False,196,2,0,Soda,77,7,9.0,7,New customer,8.165385,Low spender,30.0,Non-frequent customer
57,1812985,81,5,2,20,30.0,False,196,1,1,Soda,77,7,9.0,7,New customer,8.165385,Low spender,30.0,Non-frequent customer
58,1889835,82,1,3,15,NaN,True,196,6,0,Soda,77,7,9.0,19,Regular customer,6.441221,Low spender,11.5,Regular customer
59,499460,82,3,5,10,5.0,False,196,2,1,Soda,77,7,9.0,19,Regular customer,6.441221,Low spender,11.5,Regular customer
60,2728456,82,4,0,11,16.0,False,196,1,1,Soda,77,7,9.0,19,Regular customer,6.441221,Low spender,11.5,Regular customer
61,2653743,82,6,4,9,13.0,False,196,5,1,Soda,77,7,9.0,19,Regular customer,6.441221,Low spender,11.5,Regular customer
62,1358880,82,9,1,10,30.0,False,196,1,1,Soda,77,7,9.0,19,Regular customer,6.441221,Low spender,11.5,Regular customer
63,343588,82,10,2,11,1.0,False,196,1,1,Soda,77,7,9.0,19,Regular customer,6.441221,Low spender,11.5,Regular customer
64,3034663,82,15,2,11,12.0,False,196,1,1,Soda,77,7,9.0,19,Regular customer,6.441221,Low spender,11.5,Regular customer
65,147262,82,18,1,13,7.0,False,196,1,1,Soda,77,7,9.0,19,Regular customer,6.441221,Low spender,11.5,Regular customer
66,3144004,82,19,2,15,8.0,False,196,1,1,Soda,77,7,9.0,19,Regular customer,6.441221,Low spender,11.5,Regular customer
67,2126069,98,3,0,9,25.0,False,196,7,0,Soda,77,7,9.0,14,Regular customer,8.028000,Low spender,25.0,Non-frequent customer
68,2210120,98,7,5,14,5.0,False,196,1,1,Soda,77,7,9.0,14,Regular customer,8.028000,Low spender,25.0,Non-frequent customer
69,681011,98,9,3,9,30.0,False,196,1,1,Soda,77,7,9.0,14,Regular customer,8.028000,Low spender,25.0,Non-frequent customer
70,2846344,98,11,4,13,15.0,False,196,2,1,Soda,77,7,9.0,14,Regular customer,8.028000,Low spender,25.0,Non-frequent customer
71,747431,98,12,6,13,30.0,False,196,4,1,Soda,77,7,9.0,14,Regular customer,8.028000,Low spender,25.0,Non-frequent customer
72,2383054,98,13,4,11,30.0,False,196,1,1,Soda,77,7,9.0,14,Regular customer,8.028000,Low spender,25.0,Non-frequent customer
73,1993729,98,14,5,8,8.0,False,196,2,1,Soda,77,7,9.0,14,Regular customer,8.028000,Low spender,25.0,Non-frequent customer
74,1403849,109,3,3,17,9.0,False,196,5,0,Soda,77,7,9.0,6,New customer,5.850725,Low spender,26.0,Non-frequent customer
75,520620,120,1,3,11,NaN,True,196,2,0,Soda,77,7,9.0,3,New customer,9.385714,Low spender,19.0,Regular customer
76,3273029,120,3,2,8,19.0,False,196,2,1,Soda,77,7,9.0,3,New customer,9.385714,Low spender,19.0,Regular customer
77,1861943,185,2,1,12,25.0,False,196,10,0,Soda,77,7,9.0,6,New customer,7.715000,Low spender,25.0,Non-frequent customer
78,2040988,195,1,1,14,NaN,True,196,2,0,Soda,77,7,9.0,58,loyal customers,7.149730,Low spender,4.0,Frequent customer
79,1680569,195,8,1,9,4.0,False,196,2,1,Soda,77,7,9.0,58,loyal customers,7.149730,Low spender,4.0,Frequent customer
80,276171,195,19,5,11,3.0,False,196,2,1,Soda,77,7,9.0,58,loyal customers,7.149730,Low spender,4.0,Frequent customer
81,2744976,195,22,5,10,7.0,False,196,2,1,Soda,77,7,9.0,58,loyal customers,7.149730,Low spender,4.0,Frequent customer
82,2781919,195,25,1,14,4.0,False,196,1,1,Soda,77,7,9.0,58,loyal customers,7.149730,Low spender,4.0,Frequent customer
83,1738718,195,31,2,8,4.0,False,196,2,1,Soda,77,7,9.0,58,loyal customers,7.149730,Low spender,4.0,Frequent customer
84,3058369,195,34,3,10,6.0,False,196,2,1,Soda,77,7,9.0,58,loyal customers,7.149730,Low spender,4.0,Frequent customer
85,1485596,195,37,2,15,0.0,False,196,2,1,Soda,77,7,9.0,58,loyal customers,7.149730,Low spender,4.0,Frequent customer
86,417035,195,40,3,16,2.0,False,196,2,1,Soda,77,7,9.0,58,loyal customers,7.149730,Low spender,4.0,Frequent customer
87,1615297,195,47,5,10,2.0,False,196,2,1,Soda,77,7,9.0,58,loyal customers,7.149730,Low spender,4.0,Frequent customer
88,1765587,195,52,3,12,2.0,False,196,3,1,Soda,77,7,9.0,58,loyal customers,7.149730,Low spender,4.0,Frequent customer
89,745908,195,57,4,11,3.0,False,196,3,1,Soda,77,7,9.0,58,loyal customers,7.149730,Low spender,4.0,Frequent customer
90,2505656,222,17,2,12,1.0,False,196,2,0,Soda,77,7,9.0,70,loyal customers,6.862397,Low spender,5.0,Frequent customer
91,3268370,222,38,5,15,1.0,False,196,6,1,Soda,77,7,9.0,70,loyal customers,6.862397,Low spender,5.0,Frequent customer
92,2016711,290,9,5,19,6.0,False,196,8,0,Soda,77,7,9.0,51,loyal customers,7.285597,Low spender,7.0,Frequent customer
93,2706088,290,28,6,10,7.0,False,196,16,1,Soda,77,7,9.0,51,loyal customers,7.285597,Low spender,7.0,Frequent customer
94,1952286,331,6,5,16,30.0,False,196,8,0,Soda,77,7,9.0,8,New customer,7.705128,Low spender,30.0,Non-frequent customer
95,3226575,360,1,5,12,NaN,True,196,1,0,Soda,77,7,9.0,3,New customer,10.006250,High spender,4.0,Frequent customer
96,1469869,377,3,5,17,3.0,False,196,9,0,Soda,77,7,9.0,3,New customer,8.496552,Low spender,16.5,Regular customer
97,1927023,387,2,4,10,22.0,False,196,3,0,Soda,77,7,9.0,8,New customer,7.396610,Low spender,8.0,Frequent customer
98,858092,420,4,1,19,30.0,False,196,2,0,Soda,77,7,9.0,22,Regular customer,7.387805,Low spender,7.0,Frequent customer
99,119314,420,5,3,19,16.0,False,196,2,1,Soda,77,7,9.0,22,Regular customer,7.387805,Low spender,7.0,Frequent customer

### Deriving Columns with loc()

In [20]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [21]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [22]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10 , 'loyalty_flag'] = 'New customer'

In [23]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15877395
Loyal customer      10284396
New customer         6244245
Name: loyalty_flag, dtype: int64

In [24]:
# Data with limited columns
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

# TASK

In [25]:
# Q2. In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe.
# Now, repeat this process for the entire dataframe.

ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457844
2                17.277920
3                17.170395
4                17.811406
5                15.213779
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.171095
12               15.887671
13               16.583536
14               16.771241
15               16.165037
16               17.665609
17               15.694489
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### Q3. Analyze the result
After considering the entire dataframe we can see an increase in number of department ids and minor reduction in the mean of order number. we can say that a subset data gives us somewhat similar mean

In [26]:
# Q4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [27]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,order_day_of_week,order_time,days_since_prior_order,first_time_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,max_order,loyalty_flag,mean_price,spending_flag,frequency,Customer Type
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
5,3367565,1,6,2,7,19.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
6,550135,1,7,1,9,20.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
7,3108588,1,8,1,14,14.0,False,196,2,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
8,2295261,1,9,1,16,0.0,False,196,4,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
9,2550362,1,10,4,8,30.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
10,2968173,15,15,1,9,7.0,False,196,2,0,Soda,77,7,9.0,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
11,1870022,15,17,2,16,8.0,False,196,6,1,Soda,77,7,9.0,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
12,1911383,15,18,2,11,7.0,False,196,1,1,Soda,77,7,9.0,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
13,2715276,15,21,1,9,7.0,False,196,1,1,Soda,77,7,9.0,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
14,487368,15,22,1,10,14.0,False,196,1,1,Soda,77,7,9.0,22,Regular customer,3.980556,Low spender,10.0,Frequent customer

In [28]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'loyal customers'

In [29]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <=40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [30]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <=10, 'loyalty_flag'] = 'New customer'

In [31]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15877395
loyal customers     10284396
New customer         6244245
Name: loyalty_flag, dtype: int64

In [32]:
# Q5. Determine whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
New customer      13.294411  1.0  99999.0
Regular customer  12.495501  1.0  99999.0
loyal customers   10.386229  1.0  99999.0

#### Loyal customers are currently paying less as compared to the regular and new customers

In [33]:
# Q6. Create a spending flag for each user based on the average price across all their orders

ords_prods_merge['mean_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [34]:
ords_prods_merge.loc[ords_prods_merge['mean_price'] < 10, 'spending_flag'] = 'Low spender'

In [35]:
ords_prods_merge.loc[ords_prods_merge['mean_price'] >= 10, 'spending_flag'] = 'High spender'

In [36]:
ords_prods_merge.head(10)

,order_id,user_id,order_number,order_day_of_week,order_time,days_since_prior_order,first_time_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,max_order,loyalty_flag,mean_price,spending_flag,frequency,Customer Type
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
5,3367565,1,6,2,7,19.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
6,550135,1,7,1,9,20.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
7,3108588,1,8,1,14,14.0,False,196,2,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
8,2295261,1,9,1,16,0.0,False,196,4,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
9,2550362,1,10,4,8,30.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [37]:
ords_prods_merge['spending_flag'].value_counts(dropna =False)

Low spender     31771784
High spender      634252
Name: spending_flag, dtype: int64

#### Instacart as much more number of low spenders as compared to the high spenders

In [38]:
# Q7. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column.
#calculating median 

ords_prods_merge['frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [39]:
ords_prods_merge.head()

,order_id,user_id,order_number,order_day_of_week,order_time,days_since_prior_order,first_time_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,max_order,loyalty_flag,mean_price,spending_flag,frequency,Customer Type
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [40]:
# Using loc to calculate frequency numbers

ords_prods_merge.loc[ords_prods_merge['frequency'] > 20,'Customer Type'] = 'Non-frequent customer'

In [41]:
ords_prods_merge.loc[(ords_prods_merge['frequency'] <= 20) & (ords_prods_merge['frequency'] > 10),'Customer Type'] = 'Regular customer'

In [42]:
ords_prods_merge.loc[ords_prods_merge['frequency'] <= 10,'Customer Type'] = 'Frequent customer'

In [43]:
ords_prods_merge.head(20)

,order_id,user_id,order_number,order_day_of_week,order_time,days_since_prior_order,first_time_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,max_order,loyalty_flag,mean_price,spending_flag,frequency,Customer Type
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
5,3367565,1,6,2,7,19.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
6,550135,1,7,1,9,20.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
7,3108588,1,8,1,14,14.0,False,196,2,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
8,2295261,1,9,1,16,0.0,False,196,4,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
9,2550362,1,10,4,8,30.0,False,196,1,1,Soda,77,7,9.0,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
10,2968173,15,15,1,9,7.0,False,196,2,0,Soda,77,7,9.0,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
11,1870022,15,17,2,16,8.0,False,196,6,1,Soda,77,7,9.0,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
12,1911383,15,18,2,11,7.0,False,196,1,1,Soda,77,7,9.0,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
13,2715276,15,21,1,9,7.0,False,196,1,1,Soda,77,7,9.0,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
14,487368,15,22,1,10,14.0,False,196,1,1,Soda,77,7,9.0,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
15,2293453,19,2,5,14,6.0,False,196,3,0,Soda,77,7,9.0,9,New customer,8.372059,Low spender,6.0,Frequent customer
16,1973799,19,5,6,12,8.0,False,196,15,1,Soda,77,7,9.0,9,New customer,8.372059,Low spender,6.0,Frequent customer
17,532817,19,7,4,17,6.0,False,196,1,1,Soda,77,7,9.0,9,New customer,8.372059,Low spender,6.0,Frequent customer
18,1573906,21,10,3,10,6.0,False,196,2,0,Soda,77,7,9.0,33,Regular customer,7.012683,Low spender,7.5,Frequent customer
19,1593000,31,10,3,8,7.0,False,196,17,0,Soda,77,7,9.0,20,Regular customer,8.137793,Low spender,6.0,Frequent customer

In [44]:
ords_prods_merge['Customer Type'].value_counts(dropna = False)

Frequent customer        21560324
Regular customer          7209005
Non-frequent customer     3636707
Name: Customer Type, dtype: int64

In [45]:
ords_prods_merge = ords_prods_merge[ords_prods_merge['frequency'].isnull() == False]

In [46]:
ords_prods_merge.isnull().sum()

order_id                        0
user_id                         0
order_number                    0
order_day_of_week               0
order_time                      0
days_since_prior_order    2076196
first_time_customer             0
product_id                      0
add_to_cart_order               0
reordered                       0
product_name                    0
aisle_id                        0
department_id                   0
prices                          0
max_order                       0
loyalty_flag                    0
mean_price                      0
spending_flag                   0
frequency                       0
Customer Type                   0
dtype: int64

In [47]:
%%time
# Exporting pkl
orders_products_merged_path = r'C:\Users\iNDIA\Desktop\Career Foundry\4 Python Fundamentals for Data Analysts\Instacart Basket Analysis Mar 22\02 Data\Prepared Data\orders_products_merged.pkl'

Wall time: 0 ns

In [ ]:
%%time
ords_prods_merge.to_pickle(orders_products_merged_path)

In [ ]:
ords_prods_merge.shape